<%- include('../../partials/head.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.css">

<div class="container-fluid">

    <div class="row">
        <div class="col-md-2">
            <%- include('../../partials/sidebar.ejs') %>
        </div>

        <div class="col-md-10">
            <div class="row">
                <div class="col-md-11 offset-1 password-recovary">
                    <div class="card card-body my-5">
                        <h2 style="text-align: center; margin-bottom: 50px;">Change My Password</h2>
                        <form action="/auth/change-password" method="POST">
                            <div class="form-group">
                                <span for="oldPassword" class="password">Enter Your Old Password<span style="margin-left: 48px;">:</span>   </span>
                                <input class="form-control" type="password" name="oldPassword" id="oldPassword">
                            </div> 
                            <div class="form-group">
                                <span for="newPassword" class="password">Enter Your New Password<span style="margin-left: 41px;">:</span></span>
                                <input class="form-control" type="password" name="newPassword" id="newPassword">
                            </div> 
                            <div class="form-group">
                                <span for="confirmPassword" class="password">Confirm Your Password<span style="margin-left: 57px;">:</span> </span>
                                <input class="form-control" type="password" name="confirmPassword" id="confirmPassword">
                            </div> 
                            <input class="btn btn-primary button" type="submit" value="Update Password">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include('../../partials/fotter.ejs') %>

</body>

</html>